<div id="title">
    <h1>{{title}}</h1>
    <h2 class="sub">{{subtitle}} MERN</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mi:</h2>
    <p>Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Maxime voluptates ipsam voluptas velit eius,
    quibusdam fugit commodi, dolore officia animi ducimus repellendus eos totam! 
    Quasi aut saepe sint consequatur aperiam
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Maxime voluptates ipsam voluptas velit eius,
    quibusdam fugit commodi, dolore officia animi ducimus repellendus eos totam! 
    Quasi aut saepe sint consequatur aperiam
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Maxime voluptates ipsam voluptas velit eius,
    quibusdam fugit commodi, dolore officia animi ducimus repellendus eos totam! 
    Quasi aut saepe sint consequatur aperiam?
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Maxime voluptates ipsam voluptas velit eius,
    quibusdam fugit commodi, dolore officia animi ducimus repellendus eos totam! 
    Quasi aut saepe sint consequatur aperiam
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Maxime voluptates ipsam voluptas velit eius,
    quibusdam fugit commodi, dolore officia animi ducimus repellendus eos totam! 
    Quasi aut saepe sint consequatur aperiam
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Maxime voluptates ipsam voluptas velit eius,
    quibusdam fugit commodi, dolore officia animi ducimus repellendus eos totam! 
    Quasi aut saepe sint consequatur aperiam?</p>
</article>