<%- include("template/cabecera", {TitulodeCabecera:' Hola desde include index'}) %>

<body>
    <%- include("template/navbar")%> 
    <h1>Tutulo desde index ejs</h1>
    <h2><%= titulo %></h2>

    <%- include("template/footer")%>