<%- include("template/cabecera", {TitulodeCabecera:' Hola desde include servicios'}) %>

<body>
    <%- include("template/navbar")%>   
    <br> 
    <h1 class="text-info">Paguina de servicios</h1>
    <h2><%= titulo %></h2>
    <%- include("template/footer")%>